.SaveBlockButton {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  position: fixed;
  top: 50%;
  left: -130px;
  border-radius: 0px 0px 10px 10px;
  transition: 1s;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  background-color: rgb(0, 133, 255);
  cursor: pointer;
  width: 170px;
  height: 50px;
}

.SaveBlockButtonBody {
  background-color: rgb(47, 122, 193);
  padding: 5px 8px 5px 8px;
  color: white;
  border-radius: 10px;
}
